:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}



/* ===========================
   Profile Drawer
=========================== */
.DrawerBody{

  /* background: #b36060;  */
  position: fixed;
  inset: 0;
  z-index: 1000; 

  display: flex;
  justify-content: flex-end;

}

.InnerDrawer{

  background:#c53434;
  width: 280px;
  max-width: 80%;
  height: 100vh;
  padding: 20px;

  animation: slideInRight 0.35s ease-out;

}


.InnerDrawer button{

  width:100%;
  padding:10px;
  cursor:pointer;
  border-radius: 6px;
  background: #51523f;
  color:rgb(243, 243, 242);

  
  
}

.InnerDrawer button:hover{
  background: #7a6060;
}

.InnerDrawer.closing {
  animation: slideOutRight 0.35s ease-in forwards;
}



/* Generally for phones */
@media (max-width: 600px) {
  .InnerDrawer {
    width: 200px;
    max-width: 90%;

  }
}


@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}






